// badges

.lp_badge {
    background: $laterpay-brand;
    border-radius: 3px;
    color: $text--inverse;
    display: inline-block;
    font-size: 1em;
    font-weight: 600;
    line-height: 1;
    padding: $unit--025 $unit;
    text-align: center;
}
