.lp_page {

    // headings --------------------------------------------------------------------------------------------------------
    h2,
    h3 {
        font-weight: normal;
        margin: $unit 0 $unit--05;
    }
    h2 {
        font-size: $unit--125;
    }
    h3 {
        font-size: $unit;
        margin: 0;
    }


    // links -----------------------------------------------------------------------------------------------------------
    a {
        text-decoration: none;

        // remove dotted outline and box shadows from links
        &:focus,
        &:active,
        &:visited {
            box-shadow: none;
            outline: 0 none;
        }
    }


    // lists -----------------------------------------------------------------------------------------------------------
    ul,
    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }


    // explanatory texts -----------------------------------------------------------------------------------------------
    dfn {
        color: $text--lighter;
        font-style: italic;
    }


    // svg (used by icon fonts) ----------------------------------------------------------------------------------------
    svg {
        overflow: hidden;
    }
}
