// borders -------------------------------------------------------------------------------------------------------------
.lp_b--0 {
    border: 0 none;
}
.lp_b--1 {
    border: 1px solid $border;
}
.lp_b--2 {
    border: 2px solid $border;
}
.lp_b--r3 {
    border-radius: 3px;
}
.lp_b--r4 {
    border-radius: 4px;
}
.lp_b--embossed {
    box-shadow: 1px 1px 0 $border--lightest;
}


// display -------------------------------------------------------------------------------------------------------------
.lp_block {
    display: block;
}
.lp_inline {
    display: inline;
}
.lp_inlineBlock {
    display: inline-block;
}
.lp_hide {
    display: none !important;
}


// fonts ---------------------------------------------------------------------------------------------------------------
.lp_fs--1 {
    font-size: $unit;
}
.lp_fs--3 {
    font-size: $unit--3;
}
.lp_bold {
    font-weight: bold;
}


// floating ------------------------------------------------------------------------------------------------------------
.lp_left {
    float: left;
}
.lp_right {
    float: right;
}
.lp_clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}


// margins -------------------------------------------------------------------------------------------------------------
.lp_m--0 {
    margin: 0;
}
.lp_m--1 {
    margin: $unit;
}

// combinations
.lp_m--1-0 {
    margin: $unit 0;
}
.lp_m--1-0-0 {
    margin: $unit 0 0;
}
.lp_m--0-center {
    margin: 0 auto;
}
.lp_m--1-center {
    margin: $unit auto;
}

// top margins
.lp_m--t0 {
    margin-top: 0;
}
.lp_m--t025 {
    margin-top: $unit--025;
}
.lp_m--t05 {
    margin-top: $unit--05;
}
.lp_m--t1 {
    margin-top: $unit;
}
.lp_m--t125 {
    margin-top: $unit--125;
}
.lp_m--t2 {
    margin-top: $unit--2;
}
.lp_m--t3 {
    margin-top: $unit--3;
}

// right margins
.lp_m--r0 {
    margin-right: 0;
}
.lp_m--r025 {
    margin-right: $unit--025;
}
.lp_m--r05 {
    margin-right: $unit--05;
}
.lp_m--r1 {
    margin-right: $unit;
}
.lp_m--r2 {
    margin-right: $unit--2;
}

// bottom margins
.lp_m--b0 {
    margin-bottom: 0;
}
.lp_m--b025 {
    margin-bottom: $unit--025;
}
.lp_m--b05 {
    margin-bottom: $unit--05;
}
.lp_m--b1 {
    margin-bottom: $unit;
}
.lp_m--b2 {
    margin-bottom: $unit--2;
}
.lp_m--b3 {
    margin-bottom: $unit--3;
}

// left margins
.lp_m--l0 {
    margin-left: 0;
}
.lp_m--l025 {
    margin-left: $unit--025;
}
.lp_m--l05 {
    margin-left: $unit--05;
}
.lp_m--l1 {
    margin-left: $unit;
}
.lp_m--l2 {
    margin-left: $unit--2;
}


// paddings ------------------------------------------------------------------------------------------------------------
.lp_p--0 {
    padding: 0;
}
.lp_p--05 {
    padding: $unit--05;
}

// combinations
.lp_p--0-05 {
    padding: 0 $unit--05;
}
.lp_p--0-1 {
    padding: 0 $unit;
}
.lp_p--025-05 {
    padding: $unit--025 $unit--05;
}

// top paddings
.lp_p--t0 {
    padding-top: 0;
}

// right paddings
.lp_p--r2 {
    padding-right: $unit--2;
}

// left paddings
.lp_p--l0 {
    padding-left: 0;
}


// position ------------------------------------------------------------------------------------------------------------
.lp_absolute {
    position: absolute;
}
.lp_relative {
    position: relative;
}
.lp_fixed {
    position: fixed;
}


// text-align ----------------------------------------------------------------------------------------------------------
.lp_leftAlign {
    text-align: left;
}
.lp_rightAlign {
    text-align: right;
}
.lp_center {
    text-align: center;
}
.lp_topAlign {
    vertical-align: top;
}
.lp_nowrap {
    white-space: nowrap;
}


// widths --------------------------------------------------------------------------------------------------------------
.lp_1 {
    width: 100%;
}
.lp_4/5 {
    width: 80%;
}
.lp_3/4 {
    width: 75%;
}
.lp_2/3 {
    width: 66.6666%;
}
.lp_1/2 {
    width: 50%;
}
.lp_2/5 {
    width: 40%;
}
.lp_3/8 {
    width: 37.5%;
}
.lp_1/3 {
    width: 33.3333%;
}
.lp_1/4 {
    width: 25%;
}
.lp_1/5 {
    width: 20%;
}
.lp_1/6 {
    width: 16.6666%;
}
